.container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.price h4 {
  color: #aaa;
  text-decoration: line-through;
}
