.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery img {
  height: 100px;
  width: 100px;
  border: 1px solid #ccc;
  padding: 10px;
}

.thumbnail {
  display: flex;
  flex-direction: column;
}

.thumbnail img {
  height: 500px;
  width: 500px;
  border: none;
  padding: 50px;
  background-color: #eee;
}

.thumbnail p {
  color: #aaa;
}
